:root {
  --color-wallpaper: #f7f6f0;
  --color-primary: #d3f36b;
  --color-dark: #24282c;
  --color-light: #ffffff;
}

body {
  background: var(--color-wallpaper);
}

p, label, input, button {
  font-family: 'Ubuntu', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 1rem;
}

div.card {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  
  background-color: #fff;
  padding: .5rem;
  border-radius: 8px;
  box-shadow: 0px 6px 27px 0px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 0px 6px 27px 0px rgba(0, 0, 0, 0.06);
}

div.content {
  display: grid;
  grid-template-columns: auto auto;
  gap: .5rem;
}

div.content > div {
  /*border: 1px solid #000;*/
  min-height: 10rem;
  min-width: 10rem;
}

section {
  position: relative;
  min-height: 31.37rem;
  min-width: 38rem;
  /*border: 1px solid green;*/
  padding: 5px;
}

.block-1, .block-2 {
  position: absolute;
}

.block-1 {
  bottom: 0;
  left: 0;
}

.block-2 {
  top: 0 ;
  right: 0;
}

/* BLOCK 1 */
.block-1 > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.block-1 > div:last-child > div {
  background-color: var(--color-dark);
  padding: 1rem;
  border-radius: 6px;
}
.block-1 > div:last-child p {
  background-color: #fff;
  min-height: 24px;
  width: 100%;
  border-radius: 6px;
  text-align: center;
}

.arrow-1 {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.arrow-1 > div {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  padding-bottom: 2.5rem;
}

.arrow-1 > div > div {
  width: 5rem;
  border-left: 2px dashed #000;
  border-bottom: 2px dashed #000;
  border-bottom-left-radius: 20px;
  height: 100%;
}

.arrow-1 > div > i {
  margin-bottom: -7px;
  margin-left: -4px;
}

/* BLOCK 2 */

.block-2 > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.block-2 > div:first-child > div {
  background-color: #e0e0e0;
  padding: 1rem;
  border-radius: 6px;
}
.block-2 > div:first-child p {
  background-color: #fff;
  min-height: 24px;
  width: 100%;
  border-radius: 6px;
  text-align: center;
}

.arrow-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.arrow-2 > div {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-top: 2.5rem;
}

.arrow-2 > div > div {
  width: 5rem;
  border-right: 2px dashed #000;
  border-top: 2px dashed #000;
  border-top-right-radius: 20px;
  height: 100%;
}

.arrow-2 > div > i {
  margin-top: -7px;
  margin-left: -4px;
}


/* controls */
input[type='text'] {
  border: 0px;
  padding: 2px 6px;
  background-color: ;
}
